
/* A container should group all your columns. */
.container {
  width: 1035px;
  margin: 0 auto;
}

/* Use this class on any div.span / container to see the grid. */
.showgrid { 
  background: url(/static/css/grid.png); 
}

/* Body margin for a sensile default look. */
body {
  margin:1.5em 0;  
  font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Verdana, Arial, sans-serif; 
}


/* Columns
-------------------------------------------------------------- */

/* Sets up basic grid floating and margin. */
div.span-1, div.span-2, div.span-3, div.span-4, div.span-5, div.span-6, div.span-6-5, div.span-7, div.span-8, div.span-9, div.span-10, div.span-11, div.span-12, div.span-13, div.span-14, div.span-15, div.span-16 {float:left;margin-right: 5px;}

/* The last column in a row needs this class. */
div.last { margin-right: 0; }

/* Use these classes to set the width of a column. */
.span-1  { width: 60px;}
.span-2  { width: 125px;}
.span-3  { width: 190px;}
.span-4  { width: 255px;}
.span-5  { width: 320px;}
.span-6  { width: 385px;}
.span-6-5  { width: 410px;}
.span-7  { width: 450px;}
.span-8  { width: 515px;}
.span-9  { width: 580px;}
.span-10 { width: 645px;}
.span-11 { width: 710px;}
.span-12 { width: 775px;}
.span-13 { width: 840px;}
.span-14 { width: 905px;}
.span-15 { width: 970px;}
.span-16, div.span-16 { width: 1035px; margin: 0; }


/* Add these to a column to append empty cols. */
.append-1  { padding-right: 65px;}
.append-2  { padding-right: 130px;}
.append-3  { padding-right: 195px;}
.append-4  { padding-right: 260px;}
.append-5  { padding-right: 325px;}
.append-6  { padding-right: 390px;}
.append-7  { padding-right: 455px;}
.append-8  { padding-right: 520px;}
.append-9  { padding-right: 585px;}
.append-10 { padding-right: 650px;}
.append-11 { padding-right: 715px;}
.append-12 { padding-right: 780px;}
.append-13 { padding-right: 845px;}
.append-14 { padding-right: 910px;}
.append-15 { padding-right: 975px;}


/* Add these to a column to prepend empty cols. */
.prepend-1  { padding-left: 65px;}
.prepend-2  { padding-left: 130px;}
.prepend-3  { padding-left: 195px;}
.prepend-4  { padding-left: 260px;}
.prepend-5  { padding-left: 325px;}
.prepend-6  { padding-left: 390px;}
.prepend-7  { padding-left: 455px;}
.prepend-8  { padding-left: 520px;}
.prepend-9  { padding-left: 585px;}
.prepend-10 { padding-left: 650px;}
.prepend-11 { padding-left: 715px;}
.prepend-12 { padding-left: 780px;}
.prepend-13 { padding-left: 845px;}
.prepend-14 { padding-left: 910px;}
.prepend-15 { padding-left: 975px;}



/* Border on right hand side of a column. */
div.border {
  padding-right:1.5px;
  margin-right:2.5px;
  border-right: 1px solid #eee;
}

/* Border with more whitespace, spans one column. */
div.colborder {
  padding-right:60.5px;
  margin-right:57.5px;
  border-right: 1px solid #eee;
}

/* Use these classes on an element to push it into the 
   next column, or to pull it into the previous column.  */

.pull-1 { margin-left: -65px;}
.pull-2 { margin-left: -130px;}
.pull-3 { margin-left: -195px;}
.pull-4 { margin-left: -260px;}
.pull-5 { margin-left: -325px;}
.pull-6 { margin-left: -390px;}
.pull-7 { margin-left: -455px;}
.pull-8 { margin-left: -520px;}
.pull-9 { margin-left: -585px;}
.pull-10 { margin-left: -650px;}
.pull-11 { margin-left: -715px;}
.pull-12 { margin-left: -780px;}
.pull-13 { margin-left: -845px;}
.pull-14 { margin-left: -910px;}
.pull-15 { margin-left: -975px;}
.pull-16 { margin-left: -1040px;}

.pull-1, .pull-2, .pull-3, .pull-4, .pull-5, .pull-6, .pull-7, .pull-8, .pull-9, .pull-10, .pull-11, .pull-12, .pull-13, .pull-14, .pull-15, .pull-16 {float:left;position:relative;}


.push-1 { margin: 0 -65px 1.5em 65px;}
.push-2 { margin: 0 -130px 1.5em 130px;}
.push-3 { margin: 0 -195px 1.5em 195px;}
.push-4 { margin: 0 -260px 1.5em 260px;}
.push-5 { margin: 0 -325px 1.5em 325px;}
.push-6 { margin: 0 -390px 1.5em 390px;}
.push-7 { margin: 0 -455px 1.5em 455px;}
.push-8 { margin: 0 -520px 1.5em 520px;}
.push-9 { margin: 0 -585px 1.5em 585px;}
.push-10 { margin: 0 -650px 1.5em 650px;}
.push-11 { margin: 0 -715px 1.5em 715px;}
.push-12 { margin: 0 -780px 1.5em 780px;}
.push-13 { margin: 0 -845px 1.5em 845px;}
.push-14 { margin: 0 -910px 1.5em 910px;}
.push-15 { margin: 0 -975px 1.5em 975px;}
.push-16 { margin: 0 -1040px 1.5em 1040px;}

.push-1, .push-2, .push-3, .push-4, .push-5, .push-6, .push-7, .push-8, .push-9, .push-10, .push-11, .push-12, .push-13, .push-14, .push-15, .push-16 {float:right;position:relative;}



/* Misc classes and elements
-------------------------------------------------------------- */

/* Use a .box to create a padded box inside a column.  */ 
.box { 
  padding: 1.5em; 
  margin-bottom: 1.5em; 
  background: #E5ECF9; 
}

/* Use this to create a horizontal ruler across a column. */
hr {
  background: #ddd; 
  color: #ddd;
  clear: both; 
  float: none; 
  width: 100%; 
  height: .1em;
  margin: 0 0 1.45em;
  border: none; 
}
hr.space {
  background: #fff;
  color: #fff;
}


/* Clearing floats without extra markup
   Based on How To Clear Floats Without Structural Markup by PiE
   [http://www.positioniseverything.net/easyclearing.html] */

.clearfix:after, .container:after {
    content: "."; 
    display: block; 
    height: 0; 
    clear: both; 
    visibility: hidden;
}
.clearfix, .container {display: inline-block;}
* html .clearfix,
* html .container {height: 1%;}
.clearfix, .container {display: block;}

/* Regular clearing
   apply to column that should drop below previous ones. */

.clear { clear:both; }

/* */
.title, .title h1, .title h2, .title h3{
	color: #436B9C;
	font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Verdana, Arial, sans-serif; 
}
.title h1 {
	font-size: 64px;
	font-weight: 900;
	padding-top: 28px;
	margin-bottom: 0;
}

.title h2 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 0;
}

.title h3 {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 0;
}

.menu {
	background-color: #436B9C;
	color: #fff;
	height:30px;
}
.menu ul {
	background-color: #436B9C;
	list-style: none;
}
.menu ul li {
	float:left;
    font-size: 20px;
    font-weight: 600;	
}

.menu ul li a, .menu ul li a:hover{
    padding: 5px;   
	color: #fff;
}
.menu ul li a:hover{
    padding: 5px;   
    background-color: #fff;
	color: #436B9C;
}
.main-feed{
	background-color: #60656C ;
	color: #fff;
	height: 345px;
}
.main-feed h1 {
	color: #fff;
}
.padding10 {
	padding: 10px;
}
.arrow-left, .arrow-right {
	width: 30px;
	padding: 10px;
	vertical-align: middle;
	float:left;
	padding-top: 160px;
}
 .arrow-right {
 	padding-right:0;
 }
