 <div id="clendar_by_month">
 <ul>
 <li>   
 <h1>June, 2010</h1>
 <table cellspacing="0">
   <thead>
        <tr>
            <th>Mon</th>
            <th>Tue</th>
            <th>Wed</th>
            <th>Thu</th>
            <th>Fri</th>
            <th>Sat</th>
            <th>Sun</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="padding" colspan="1"></td>
            <td class="date_has_event">
                1
                <div class="events">
                    <ul>
                        <li>
                            <span class="title">Call for Talks, Papers and Tutorials</span>
							June 1, 2010
                        </li>
                    </ul>
                </div>
            </td>
            <td> 2</td>
            <td> 3</td>
            <td> 4</td>
            <td> 5</td>
            <td> 6</td>			
        </tr>
        <tr>
            <td> 7</td>
            <td> 8</td>
            <td> 9</td>
            <td>10</td>
            <td>11</td>
            <td>12</td>
            <td>13</td>
			
        </tr>
        <tr>
            <td>14</td>
            <td>15</td>
            <td>16</td>
            <td>17</td>
            <td>18</td>
            <td>19</td>
            <td>20</td>
			
        </tr>
        <tr>
            <td>21</td>
            <td>22</td>
            <td>23</td>
            <td>24</td>
            <td>25</td>
            <td>26</td>
            <td>27</td>
			
        </tr>   
        <tr>
            <td>28</td>
            <td>29</td>
            <td>30</td>
            <td class="padding"></td>
			<td class="padding"></td>
			<td class="padding"></td>
			<td class="padding"></td>
        </tr>
    </tbody>
    </table>   
</li>	
<li>
    <h1>July, 2010</h1>
    <table cellspacing="0">
    <thead>
        <tr>
            <th>Mon</th>
            <th>Tue</th>
            <th>Wed</th>
            <th>Thu</th>
            <th>Fri</th>
            <th>Sat</th>
            <th>Sun</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="padding"></td>
            <td class="padding"></td>
            <td class="padding"></td>
            <td class="date_has_event">
                1
                <div class="events">
                    <ul>
                        <li>
                            <span class="title">Early bird registration starts</span>
							July 1, 2010
                        </li>
                    </ul>
                </div>
            </td>
            <td> 2</td>
            <td> 3</td>
            <td> 4</td>
        </tr>
        <tr>
            <td> 5</td>
            <td> 6</td>
            <td> 7</td>
            <td> 8</td>
            <td> 9</td>
            <td>10</td>
            <td>11</td>
        </tr>
        <tr>
            <td>12</td>
            <td>13</td>
            <td>14</td>
            <td>15</td>
            <td>16</td>
            <td>17</td>
            <td>18</td>
        </tr>
        <tr>
            <td>19</td>
            <td>20</td>
            <td>21</td>
            <td>22</td>
            <td>23</td>
            <td>24</td>
            <td>25</td>
        </tr>   
        <tr>
            <td>26</td>
            <td>27</td>
            <td>28</td>
            <td>29</td>
            <td>30</td>
			<td>31</td>
            <td class="padding"></td>
        </tr>
    </tbody>    
</table>
</li>
<li>
    <h1>August, 2010</h1>
    <table cellspacing="0">
    <thead>
        <tr>
            <th>Mon</th>
            <th>Tue</th>
            <th>Wed</th>
            <th>Thu</th>
            <th>Fri</th>
            <th>Sat</th>
            <th>Sun</th>
        </tr>
    </thead>
    <tbody>
    	<tr>
    		<td class="padding"></td>
			<td class="padding"></td>
			<td class="padding"></td>
			<td class="padding"></td>
			<td class="padding"></td>
			<td class="padding"></td>
    	      <td class="date_has_event">
                1
                <div class="events">
                    <ul>
                        <li>
                            <span class="title">Conference's programm announce</span>
							August 1, 2010
                        </li>
                    </ul>
                </div>
            </td>
		</tr>
        <tr>
            <td> 2</td>
            <td> 3</td>
            <td> 4</td>
            <td> 5</td>
            <td> 6</td>
            <td> 7</td>
            <td> 8</td>			
        </tr>
        <tr>
            <td> 9</td>
            <td>10</td>
            <td>11</td>
            <td>12</td>
            <td>13</td>
            <td>14</td>
            <td>15</td>
			
        </tr>
        <tr>
            <td>16</td>
            <td>17</td>
            <td>18</td>
            <td>19</td>
            <td>20</td>
            <td>21</td>
            <td>22</td>
			
        </tr>
        <tr>
            <td>23</td>
            <td>24</td>
            <td>25</td>
            <td>26</td>
            <td>27</td>
            <td>28</td>
            <td>29</td>
        </tr>   
        <tr>
            <td>30</td>
            <td>31</td>
            <td class="padding"></td>
            <td class="padding"></td>
            <td class="padding"></td>
            <td class="padding"></td>
            <td class="padding"></td>

			
        </tr>
    </tbody>    
</table>
</li>
<li>
    <h1>September, 2010</h1>
    <table cellspacing="0">
    <thead>
        <tr>
            <th>Mon</th>
            <th>Tue</th>
            <th>Wed</th>
            <th>Thu</th>
            <th>Fri</th>
            <th>Sat</th>
            <th>Sun</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="padding"></td>
            <td class="padding"></td>
            <td class="date_has_event">
                1
                <div class="events">
                    <ul>
                        <li>
                            <span class="title">End of early bird registration</span>
							September 1, 2010
                        </li>
                    </ul>
                </div>
            </td>
            <td> 2</td>
            <td> 3</td>
            <td> 4</td>
            <td> 5</td>			
        </tr>
        <tr>
            <td> 6</td>
            <td> 7</td>
            <td> 8</td>
            <td> 9</td>
            <td>10</td>
            <td>11</td>
            <td>12</td>			
        </tr>
        <tr>
            <td>13</td>
            <td>14</td>
            <td>15</td>
            <td>16</td>
            <td>17</td>
            <td>18</td>
            <td>19</td>			
        </tr>
        <tr>
            <td>20</td>
            <td>21</td>
            <td>22</td>
            <td>23</td>
            <td>24</td>
            <td>25</td>
            <td>26</td>			
        </tr>   
        <tr>
            <td>27</td>
            <td>28</td>
            <td>29</td>
            <td>30</td>
            <td class="padding"></td>
            <td class="padding"></td>
            <td class="padding"></td>

			
        </tr>
    </tbody>    
</table>
</li>
<li>
    <h1>October, 2010</h1>
    <table cellspacing="0">
    <thead>
        <tr>
            <th>Mon</th>
            <th>Tue</th>
            <th>Wed</th>
            <th>Thu</th>
            <th>Fri</th>
            <th>Sat</th>
            <th>Sun</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="padding"></td>
            <td class="padding"></td>
            <td class="padding"></td>
			<td class="padding"></td>
            <td> 1</td>
            <td> 2</td>
            <td> 3</td>
        </tr>
        <tr>
            <td> 4</td>        	
            <td> 5</td>
            <td> 6</td>
            <td> 7</td>
            <td> 8</td>
            <td> 9</td>
            <td>10</td>
        </tr>
        <tr>
            <td>11</td>        	
            <td>12</td>
            <td>13</td>
            <td>14</td>
            <td>15</td>
            <td>16</td>
            <td>17</td>
        </tr>
        <tr>
            <td>18</td>        	
            <td>19</td>
            <td>20</td>
            <td>21</td>
            <td>22</td>
             <td class="date_has_event">
                23
                <div class="events">
                    <ul>
                        <li>
                            <span class="title">PyCon Ukraine Conference</span>
							October 23, 2010
                        </li>
                    </ul>
					
                </div>
            </td>
             <td class="date_has_event">
                24
                <div class="events">
                    <ul>
                        <li>
                            <span class="title">PyCon Ukraine Conference</span>
							October 24, 2010
                        </li>
                    </ul>
                </div>
            </td>
        </tr>   
        <tr>
            <td>25</td>        	
            <td>26</td>
            <td>27</td>
            <td>28</td>
            <td>29</td>
            <td>30</td>
			<td>31</td>
        </tr>
    </tbody>    
</table>
</li>
</ul>
</div>

