{% extends 'index.html' %}

{% block menu %}
				<li><a href="/">News and updates</a></li>
				<li><a href="/talks">Talks</a></li>
                {% if user.is_authenticated %}
                    <li><a href="/profile">Profile</a></li>
					<li class="current-tab"><a href="/cfpsubmit">Submit proposal</a></li>
                    <li><a href="/logout">Logout</a></li>
                {% else %}
                    <li><a href="/login">Login</a></li>
                {% endif %}				
{% endblock %}


{% block main %}
        <div class="section">
				<div class="section-title">Submit Talk Proposal</div>
				<div class="section-content">
                    <div class="post">
                    	{% if not error %}
						{% if success %}
						<h3 style="background-color:#eee;padding:14px;">
							Congratulations! Your Talk Proposal was accepted.<br />
							You will be notified by email when it appears in the voting.
						</h3>
						{% else %}
                    	<form action="." method='post' enctype="multipart/form-data">
                    	<table>
                        {% for field in cfp_form %}
						  <tr>
							  <td>
								  {% if field.field.required %}<strong>{% endif %}
								      {{ field.label }}
								  {% if field.field.required %}*</strong>{% endif %}:
                                {% if field.errors %}
                                <br />
                                <span class='errors'>
                                    {{ field.errors }}
                                </div>
                                {% endif %}								  
							  </td>
							  <td>
							  	
							  	{{ field }}
								{% if field.help_text %}
								<br />
								<em>{{ field.help_text }}</em>
								{% endif %}

							  </td>
						  </tr>
						{% endfor %}
						<tr>
						<td></td>
						<td><input type="submit" value=" Submit Proposal! " /></td>
						</tr>
						</table>
						</form>
					  {% endif %}
					  {% else %}
					   <h3>{{ error }}</h3>
					  {% endif %}
                    </div>  					
					<div class="content-separator"></div>
					<div class="clearer">&nbsp;</div>
				</div>
			</div>
{% endblock %}
</body>
</html>