{% extends 'index.html' %}

{% block menu %}
				<li><a href="/">News and updates</a></li>
				<li><a href="/talks">Talks</a></li>
                {% if user.is_authenticated %}
                    <li><a href="/profile">Profile</a></li>
                    <li><a href="/cfpsubmit">Submit proposal</a></li>
                    <li><a href="/logout">Logout</a></li>
                {% else %}
                    <li  class="current-tab"><a href="/register/">Registration</a></li>  
                    <li><a href="/login">Login</a></li>
                {% endif %}     
{% endblock %}


{% block main %}
        <div class="section">
				<div class="section-title">Registration</div>
				<div class="section-content">
                    <div class="post">
					   <h3>Congratulations! You email is verified and your profile now is active.</h3>
					   <h3>You can now <a href="/login">Login</a></h3>
                    </div>  					
					<div class="content-separator"></div>
					<div class="clearer">&nbsp;</div>
				</div>
			</div>
{% endblock %}
</body>
</html>