Уважаемый {{ user.first_name }} {{ user.last_name }}

При регистрации Вы указали о своем желании посетить pre-party.

Pre-party состоится сегодня, в 19.00, в пабе "Бочка Пивная" по адресу: г. Киев, ул. Крещатик, 19-А

Карта: http://www.bochka.com.ua/31/

Будем рады Вас видеть!

---------------------

Dear {{ user.first_name }} {{ user.last_name }},

You've mentioned your desire to participate in PyCon Ukraine pre-party.

It will be hold today, in the "Bochka Pivnaya" pub.

Address: Kyiv, Kreshatik 19-A
Map: http://www.bochka.com.ua/31/

We will be glad to see you!

Regards,
Volodymyr Hotsyk
+380665600856
PyCon Ukraine
