Уважаемый {{ user.first_name }} {{ user.last_name }}

Конференция PyCon Ukraine начнется в субботу, 23 октября в 09:00 в конференц-зале
Европейского университета, по адресу бульвар Вернадского 16-В, рядом
остановка красной ветки метро "Святошин".
Можно подъехать от метро Святошин на маршрутке номер 510 либо на автобусе 96

Расположение: http://maps.yandex.ru/-/CNXHJjq
Путь от остановки метро "Святошин": http://maps.yandex.ru/-/CNXLe1C
Вид на вход(Здание во дворе): http://maps.yandex.ru/-/CNt4q9c

Программа конфренции: http://ua.pycon.org/news/12

Ваш профиль отмечен как не оплаченный.
Если Вы считаете это ошибкой, пожалуйста, свяжитесь со мной по телефону или электронной почте или во время регистрации на конференции. 

Ваш бейдж будет на красном регистрационном столе.
 
---------------------
Dear {{ user.first_name }} {{ user.last_name }},

The PyCon Ukraine will begin at Saturday, the 23th of October at 09:00
Address: Vernadsky Boulevard, 16B, Kyiv, Ukraine, not far from subway
stop "Svyatoshin" at the red line subway. The building of "European
University" .
You can take a bus number 96 or micro bus 510 from subway stop "Svyatoshin".

Address: http://maps.yandex.ru/-/CNXHJjq
Route from subway stop "Svyatoshin": http://maps.yandex.ru/-/CNXLe1C
Photo View: http://maps.yandex.ru/-/CNt4q9c
Google map: Location of conference hall ,  Route from subway stop

Conference schedule: http://ua.pycon.org/news/12

You profile is marked as not paid.
If you believe this is mistake, please contact me via phone or email or during the conference registration. 

Your badge will be on the red registration table.

Regards,
Volodymyr Hotsyk
+380665600856
PyCon Ukraine
