Уважаемый {{ user.first_name }} {{ user.last_name }}

Конференция PyCon Ukraine начнется в субботу, 23 октября в 09:00 в конференц-зале
Европейского университета, по адресу бульвар Вернадского 16-В, рядом
остановка красной ветки метро "Святошин".
Можно подъехать от метро Святошин на маршрутке номер 510 либо на автобусе 96

Расположение: http://maps.yandex.ru/-/CNXHJjq
Путь от остановки метро "Святошин": http://maps.yandex.ru/-/CNXLe1C
Вид на вход(Здание во дворе): http://maps.yandex.ru/-/CNt4q9c

Программа конфренции: http://ua.pycon.org/news/12

Ваш профиль отмечен как оплаченный. 
Ваш бейдж будет на синем регистрационном столе.
Пожалуйста, не забудьте билет и студенческий, если Вы использовали его при приобритении билета со скидкой.
 
---------------------
Dear {{ user.first_name }} {{ user.last_name }},

The PyCon Ukraine will begin at Saturday, the 23th of October at 09:00
Address: Vernadsky Boulevard, 16B, Kyiv, Ukraine, not far from subway
stop "Svyatoshin" at the red line subway. The building of "European
University" .
You can take a bus number 96 or micro bus 510 from subway stop "Svyatoshin".

Address: http://maps.yandex.ru/-/CNXHJjq
Route from subway stop "Svyatoshin": http://maps.yandex.ru/-/CNXLe1C
Photo View: http://maps.yandex.ru/-/CNt4q9c
Google map: Location of conference hall ,  Route from subway stop

Conference schedule: http://ua.pycon.org/news/12

You profile is marked as completed. 
Your badge will be on the blue registration table.
Please, bring you ticket with you. Also, don't forget to take the student card if you've used it to take the discount.

Regards,
Volodymyr Hotsyk
+380665600856
PyCon Ukraine
