Уважаемый {{ user.first_name }}!

Хотим напомнить, что завтра, 11 декабря состоится встреча питонистов Kyiv.py.

Она начнется в 11.00 в помещении компании Ciklum по адресу: Киев, ул. Амосова 12. (ссылка на карту: http://maps.google.com/?ll=50.422534,30.50547)
Просьба иметь с собой документ, удостоверяющий личность.

Как доехать (обратите внимание на обновленную информацию):

В 10.30 от м. Дворец Украина будет развозка - желтый Богдан с табличкой "Horizon business park"
(карта остановки - http://dl.dropbox.com/u/981141/bus_stop.png)


Другие варианты:

По улице Амосова:
Атобус №12: ул. СОЛОМЕНСКАЯ - ул. Николая Амосова -  ул. ИЗЮМСКАЯ
Маршрутное такси №198: Ж/Д ВОКЗАЛ "ЦЕНТРАЛЬНЫЙ" (М "ВОКЗАЛЬНАЯ")-ул. НИКОЛАЯ АМОСОВА

По улице Протасов Яр:
Троллейбус №40: ул. КАДЕТСКИЙ ГАЙ - М "РЕСПУБЛИКАНСКИЙ СТАДИОН"
Маршрутное такси №450: ул. СОЛОМЕНСКАЯ – пл. Соломенская - пр. Воздухофлотский - пр. Победы – пл. Победы - бульв. Тараса Шевченко (М "УНИВЕРСИТЕТ") - пл. Бессарабская – ул. Бассейная – бульв. Леси Украинки – пл. Леси Украинки (М "ПЕЧЕРСКАЯ") – бульв. Леси Украинки – бульв. Дружбы народов (М "ДРУЖБЫ НАРОДОВ") – пл. Лыбедская (М "ЛЫБЕДСКАЯ") – ул. Большая Васильковская (М "ДВОРЕЦ "УКРАИНА") - ул. Димитрова - ул. Горького - ул. Ивана Фёдорова - ул. Протасов Яр - ул. СОЛОМЕНСКАЯ
(карта движения - http://dl.dropbox.com/u/981141/map_ciklum.png)

ВНИМАНИЕ: По поводу анонсированного в прошлом письме маршрута №495:
(Маршрутное такси №495: М "РЕСПУБЛИКАНСКИЙ СТАДИОН" - ул. Протасов Яр (ж/д ост. "Протасов Яр") – ул. Дегтярёвская (М "ЛУКЬЯНОВСКАЯ") -  пр. СВОБОДЫ )
есть информация о том что этот маршрут отменен. Просьба учитывать это при планировании.


По самой встрече:
Формат встречи свободный - все участники буду иметь возможность выступить с докладом.

Лучшие докладчики получат подарки :) 

Будем рады Вас увидеть!

С уважением, команда организаторов.

Контакты:
Владимир Гоцык +380(66)5600856



