Уважаемый {{ user.first_name }}!
Хотим напомнить, что в эту субботу, 11 декабря состоится встреча питонистов Kyiv.py.

Она начнется в 11.00 в помещении компании Ciklum по адресу: Киев, ул. Амосова 12. (ссылка на карту: http://maps.google.com/?ll=50.422534,30.50547)
Просьба иметь с собой документ, удостоверяющий личность.

Как доехать:

Транспорт по улице Амосова:

Атобус №12: ул. СОЛОМЕНСКАЯ - ул. Николая Амосова -  ул. ИЗЮМСКАЯ
Маршрутное такси №198: Ж/Д ВОКЗАЛ "ЦЕНТРАЛЬНЫЙ" (М "ВОКЗАЛЬНАЯ") -  ул. НИКОЛАЯ АМОСОВА


Транспорт по улице Протасов Яр:

Троллейбус №40: ул. КАДЕТСКИЙ ГАЙ - М "РЕСПУБЛИКАНСКИЙ СТАДИОН"
Маршрутное такси №450:ул. СОЛОМЕНСКАЯ – ул. Протасов Яр - ул. СОЛОМЕНСКАЯ
Маршрутное такси №495: М "РЕСПУБЛИКАНСКИЙ СТАДИОН" - ул. Протасов Яр (ж/д ост. "Протасов Яр") – ул. Дегтярёвская (М "ЛУКЬЯНОВСКАЯ") -  пр. "Правды" - пр. Георгия Гонгадзе - пр. СВОБОДЫ


Формат встречи свободный - все участники буду иметь возможность выступить с докладом на 5-10 минут.

Будем рады Вас увидеть!

С уважением, команда организаторов.


