{% extends 'index.html' %}

{% block menu %}
				<li><a href="/">News and updates</a></li>
                {% if user.is_authenticated %}
                    <li  class="current-tab"><a href="/profile">Profile</a></li>
					<li><a href="/cfpsubmit">Submit proposal</a></li>
                    <li><a href="/logout">Logout</a></li>
                {% else %}
				    <li><a href="/register/">Registration</a></li>  
                    <li"><a href="/login">Login</a></li>
                {% endif %}				
{% endblock %}


{% block main %}
        <div class="section">
				<div class="section-title">Apply for Free participant status</div>
				<div class="section-content">
                    <div class="post">
                    	{% if not error %}
						{% if success %}
						<h3 style="background-color:#eee;padding:14px;">
							Congratulations! Your request to get Free participant status was recieved.<br />
							After review of your request, you will get the email notification on accepting/declining of the request.
						</h3>
						{% else %}
                    	<form action="." method='post' enctype="multipart/form-data">
                    	<table>
                        {% for field in applyform %}
						  <tr>
							  <td>
								  {% if field.field.required %}<strong>{% endif %}
								      {{ field.label }}
								  {% if field.field.required %}*</strong>{% endif %}:
                                {% if field.errors %}
                                <br />
                                <span class='errors'>
                                    {{ field.errors }}
                                </div>
                                {% endif %}								  
							  </td>
							  <td>
							  	
							  	{{ field }}
								{% if field.help_text %}
								<br />
								<em>{{ field.help_text }}</em>
								{% endif %}

							  </td>
						  </tr>
						{% endfor %}
						<tr>
						<td></td>
						<td><input type="submit" value=" Submit Request " /></td>
						</tr>
						</table>
						</form>
					  {% endif %}
					  {% else %}
					   <h3>{{ error }}</h3>
					  {% endif %}
                    </div>  					
					<div class="content-separator"></div>
					<div class="clearer">&nbsp;</div>
				</div>
			</div>
{% endblock %}
</body>
</html>