{% load i18n %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr">

<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
	<meta name="description" content=""/>
	<meta name="keywords" content="" />
	<meta name="author" content="" />
	<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}style.css" media="screen" />
	<title>PyCon Ukraine</title>
    <script type='text/javascript' src='{{MEDIA_URL}}js/jquery-1.3.2.min.js'></script>
    <script type="text/javascript" src="{{MEDIA_URL}}js/jquery.corner.js"></script>
	
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-66492-19']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>	
</head>

<body>

<div id="site-wrapper">

	<div id="header">

		<div id="top">
			<div class="left" id="logo">
				<a href="/"><img src="{{ MEDIA_URL }}images/logo.png" /></a><br />
			</div>

			<div class="left" id="logo-title">
                  <h1>PyCon Ukraine</h1>
                  <h2>import antigravity</h2>                         
                  <h3>October, 23-24. Kyiv, Ukraine</h3>
				<div class="clearer">&nbsp;</div>
			</div>
			<div class="right" id="flesh-announces">
                  <h4>stay updated - join our <a href="http://groups.google.com/group/uapycon">mailing list</a></h4>
				  <h4>join pycon ukraine buzz in twitter <a href="http://twitter.com/#search?q=uapycon">#uapycon</a></h4>
			</div>
			<div class="clearer">&nbsp;</div>
		</div>
		<div class="navigation" id="sub-nav">
			<ul class="tabbed">
				{% block menu %}
				<li class="current-tab"><a href="/">News and updates</a></li>
				{% if user.is_authenticated %}
                    <li><a href="/profile">Profile</a></li>
					<li><a href="/cfpsubmit">Submit proposal</a></li>
                    <li><a href="/logout">Logout</a></li>
                {% else %}
                    <li><a href="/register/">Registration</a></li>				
                    <li"><a href="/login">Login</a></li>
                {% endif %}
				{% endblock %}
			</ul>
			<div class="clearer">&nbsp;</div>
		</div>
	</div>

	<div id="splash">
		<div class="col3 left">
			<h2 class="label label-green">Speakers</h2>
			<ul class="nice-list">
			<li>Python</li>
			<li>Django and other webframeworks</li>
			<li>SQL and NoSQL databases</li>
			<li>GIS</li>
			<li>Highload</li>
			<li>and many others</li>
			</ul>
		</div>
		<div class="col3-mid left">
			<h2 class="label label-orange">Speakers</h2>
			<p class="quiet large">Yury Yurevich</p>
			<p><img src="{{MEDIA_URL}}images/people/yurevich.jpg" alt="" class="bordered" /></p>
			<p><em></em></p>
		</div>

		<div class="col3 right">
			<h2 class="label label-blue">Calendar</h2>
            <ul class="nice-list">
            <li>September 30 - Deadline for proposals.</li>
            <li>October 15 - Finalization of schedule</li>
            <li>October 22 - Pre-party :)</li>
            </ul>
		</div>
		<div class="clearer">&nbsp;</div>
	</div>
	<div class="main" id="main-two-columns">
		<div class="left" id="main-content">
			{% block main %}
			<div class="section">
				
				<div class="section-title">News and updates</div>
				<div class="section-content">
					{% for news in last_news %}
                    <div class="post">
                        <div class="post-title"><h2><a href="{{ news.get_absolute_url }}">{{ news.title }}</a></h2></div>
                        {% comment %}<div class="post-date">{{ news.created|date:"D, d M, Y" }} by {{ news.author.first_name }} {{ news.author.last_name }}</div>{% endcomment %}
                        <div class="post-body">
                            <p>{{ news.short|safe }}</p>
							<br />
							<a href="{{ news.get_absolute_url }}">Read more &rarr;</a>
                        </div>
                    </div>      					
                    {% endfor %}
					<div class="clearer">&nbsp;</div>
				</div>
			</div>
			{% endblock %}
         <div class="clearer">&nbsp;</div>
        </div>
			{% block right %}
		<div class="right sidebar" id="sidebar">
			<div class="section">
				<div class="section-title">PyCon Buzz</div>
				<div class="section-content">
					{% block twitter %}
		          <script src="http://widgets.twimg.com/j/2/widget.js"></script>
		            <script>
		                new TWTR.Widget({
		                  version: 2,
		                  type: 'search',
		                  search: 'pykyiv OR pycon ukraine OR uapycon',
		                  interval: 6000,
		                  title: '#uapycon',
		                  width: 210,
		                  height: 270,
		                  theme: {
		                    shell: {
		                      background: '#436B9C',
		                      color: '#ffffff'
		                    },
		                    tweets: {
		                      background: '#ffffff',
		                      color: '#444444',
		                      links: '#056087'
		                    }
		                  },
		                  features: {
		                    scrollbar: false,
		                    loop: true,
		                    live: true,
		                    hashtags: true,
		                    timestamp: true,
		                    avatars: true,
		                    behavior: 'default'
		                  }
		                }).render().start();
		                </script>
		            {% endblock twitter %}
				</div>

			</div>
			<div class="section">
				<div class="section-title">Sponsors and partners</div>
				<div class="section-content">
					<ul class="nice-list">
						
                        <li>
                            <h3>Diamond sponsor:</h3>                        	
                            <div class="left">
                                <a href="http://www.oDesk.com">
                                	<img src="{{ MEDIA_URL }}sponsors/odesk.jpg" alt="oDesk" />
								</a>
							</div>
                            <div class="clearer">&nbsp;</div>
                        </li>						
						<li>
                            <h3>Bronze sponsor:</h3>							
							<div class="left"><a href="http://www.python.org/psf/">
								<img src="{{ MEDIA_URL }}sponsors/python.jpg" alt="Python Software Foundation" />
							</a></div>
							<div class="clearer">&nbsp;</div>
						</li>
                        <li>
                            <h3>Bronze sponsor:</h3>                            
                            <div class="left"><a href="http://42coffeecups.com">
                                <img src="{{ MEDIA_URL }}sponsors/42-logo.png" alt="42coffeecups" />
                            </a></div>
                            <div class="clearer">&nbsp;</div>
                        </li>	
                        <li>
                            <h3>Partner:</h3> 
                            <div class="left"><a href="http://www.programa.pl/">
                                <img src="{{ MEDIA_URL }}sponsors/programapl.png" alt="Programa.pl" />
                            </a></div>
                            <div class="clearer">&nbsp;</div>
                        </li>
                        <li>
                            <h3>Partner:</h3> 
                            <div class="left"><a href="http://similaria.pl">
                                <img src="{{ MEDIA_URL }}sponsors/similariapl.png" alt="Similaria.pl" />
                            </a></div>
                            <div class="clearer">&nbsp;</div>
                        </li> 											
						<li>
                            <h3>Information partner:</h3>                            
                            <div class="left"><a href="http://developers.org.ua">
                                <img src="{{ MEDIA_URL }}sponsors/developers.png" alt="Developers.org.ua" />
                            </a></div>
                            <div class="clearer">&nbsp;</div>
                        </li>   
                        <li>
                            <h3>Information partner:</h3>                            
                            <div class="left"><a href="http://rubylang.org.ua/">
                                <img src="{{ MEDIA_URL }}sponsors/rubylang.png" alt="RubyConfUa" />
                            </a></div>
                            <div class="clearer">&nbsp;</div>
                        </li> 
						                      												
					</ul>
				</div>
			</div>
		
		</div>
		<div class="clearer">&nbsp;</div>
	</div>
   {% endblock right %}	
   {% block footer %}
	<div id="footer">
		<div class="left" id="footer-left">
			<p>&copy; 2010 PyCon Ukraine. All rights Reserved</p>
			<p class="quiet"><a href="http://templates.arcsin.se/">Website template</a> by <a href="http://arcsin.se/">Arcsin</a></p>
			<div class="clearer">&nbsp;</div>
		</div>
		<div class="right" id="footer-right">
            <a href="http://twitter.com/gotsyk">@gotsyk</a> <span class="text-separator">|</span> <a href="http://twitter.com/#search?q=uapycon">#uapycon</a>
			<span class="text-separator">|</span> <a href="http://groups.google.com/group/uapycon">mailing list</a> <span class="text-separator">|</span> <a href="mailto:uapycon@hotsyk.com">uapycon@hotsyk.com</a> <span class="text-separator">|</span> <a href="#top" class="quiet">Page Top &uarr;</a></p>
		</div>
		<div class="clearer">&nbsp;</div>
	</div>
</div>

</body>
</html>
{% endblock footer %}