{% extends 'index.html' %}

{% block menu %}
				<li><a href="/">News and updates</a></li>
                <li><a href=".">Registration</a></li>
                {% if user.is_authenticated %}
                    <li  class="current-tab"><a href="/profile">Profile</a></li>
                    <li><a href="/logout">Logout</a></li>
                {% else %}
                    <li"><a href="/login">Login</a></li>
                {% endif %}				
{% endblock %}


{% block main %}
        <div class="section">
				<div class="section-title">Your profile</div>
				<div class="section-content">
                    <div class="post">
                    	{% if not error %}
						
						<h3 style="background-color:#eee;padding:14px;">
						{% if not barcode %}
							You haven't entered barcode yet. Please enter barcode from the ticket to avoid unexpected delays while registration on the conference.<br /><br />
							If you haven't bought ticket yet, you can buy it at the <a href='http://www.kvytky.ua/ru/event/8025'>kvytky.ua</a> site or at the <a href='http://www.kvytky.ua/ru/cashiers'>cashiers</a>.<br /><br />
							If you have troubles with kvytky.ua site or with payments, please feel free to contact us at the <a href='mailto:ticketpycon@hotsyk.com'>email</a> and we will help you.<br />
						{% endif %}
						</h3>
                    	<form action="." method='post'>
                    	<table>
                        {% for field in profileform %}
						  <tr>
							  <td>
								  {% if field.field.required %}<strong>{% endif %}
								      {{ field.label }}
								  {% if field.field.required %}*</strong>{% endif %}:
                                {% if field.errors %}
                                <br />
                                <span class='errors'>
                                    {{ field.errors }}
                                </div>
                                {% endif %}								  
							  </td>
							  <td>
							  	
							  	{{ field }}
								{% if field.help_text %}
								<br />
								<em>{{ field.help_text }}</em>
								{% endif %}

							  </td>
						  </tr>
						{% endfor %}
						<tr>
						<td></td>
						<td><input type="submit" value=" Update profile! " /></td>
						</tr>
						</table>
						</form>
					  {% else %}
					   <h3>{{ error }}</h3>
					  {% endif %}
                    </div>  					
					<div class="content-separator"></div>
					<div class="clearer">&nbsp;</div>
				</div>
			</div>
{% endblock %}
</body>
</html>