{% extends 'index.html' %}

{% block menu %}
				<li><a href="/">News and updates</a></li>
				<li><a href="/talks">Talks</a></li>
                {% if user.is_authenticated %}
                    <li><a href="/profile">Profile</a></li>
					<li><a href="/cfpsubmit">Submit proposal</a></li>
                    <li><a href="/logout">Logout</a></li>
                {% else %}
                    <li  class="current-tab"><a href="/register/">Registration</a></li>  
                    <li><a href="/login">Login</a></li>
                {% endif %}				
{% endblock %}


{% block main %}
        <div class="section">
				<div class="section-title">Registration</div>
				<div class="section-content">
                    <div class="post">
                    	{% if not success %}
                    	<form action="." method='post'>
                    	<table>
                        {% for field in participantform %}
						  <tr>
							  <td>
								  {% if field.field.required %}<strong>{% endif %}
								      {{ field.label }}
								  {% if field.field.required %}*</strong>{% endif %}:
                                {% if field.errors %}
                                <br />
                                <span class='errors'>
                                    {{ field.errors }}
                                </div>
                                {% endif %}								  
							  </td>
							  <td>
							  	
							  	{{ field }}
								{% if field.help_text %}
								<br />
								<em>{{ field.help_text }}</em>
								{% endif %}

							  </td>
						  </tr>
						{% endfor %}
						<tr>
						<td></td>
						<td><input type="submit" value=" Register! " /></td>
						</tr>
						</table>
						</form>
					  {% else %}
					   <h3>Congratulations! You've registered. Please check you email for the activation link.</h3>
					  {% endif %}
                    </div>  					
					<div class="content-separator"></div>
					<div class="clearer">&nbsp;</div>
				</div>
			</div>
{% endblock %}
</body>
</html>
