{% extends 'index.html' %}

{% block menu %}
				<li><a href="/">News and updates</a></li>
                <li class="current-tab"><a href=".">Registration</a></li>
{% endblock %}


{% block main %}
        <div class="section">
				<div class="section-title">Registration</div>
				<div class="section-content">
                    <div class="post">
                    	{% if not success %}
						
						<h3 style="background-color:#eee;padding:14px;">Please, be aware that the registration is not completed without entering barcode from your ticket.<br />
						You can buy tickets at the <a href='http://www.kvytky.ua/ru/event/8025'>kvytky.ua</a> site or at the <a href='http://www.kvytky.ua/ru/cashiers'>cashiers</a>.<br /><br />
						If you have troubles with kvytky.ua site or with payments, please feel free to contact us at the <a href='mailto:ticketpycon@hotsyk.com'>email</a> and we will help you.<br />
						<br />
						Anyway, you can register now and enter barcode from the ticket later on your personal profile page.
						</h3>
                    	<form action="." method='post'>
                    	<table>
                        {% for field in participantform %}
						  <tr>
							  <td>
								  {% if field.field.required %}<strong>{% endif %}
								      {{ field.label }}
								  {% if field.field.required %}*</strong>{% endif %}:
                                {% if field.errors %}
                                <br />
                                <span class='errors'>
                                    {{ field.errors }}
                                </div>
                                {% endif %}								  
							  </td>
							  <td>
							  	
							  	{{ field }}
								{% if field.help_text %}
								<br />
								<em>{{ field.help_text }}</em>
								{% endif %}

							  </td>
						  </tr>
						{% endfor %}
						<tr>
						<td></td>
						<td><input type="submit" value=" Register! " /></td>
						</tr>
						</table>
						</form>
					  {% else %}
					   <h3>Congratulations! You've registered. Please check you email for the activation link.</h3>
					  {% endif %}
                    </div>  					
					<div class="content-separator"></div>
					<div class="clearer">&nbsp;</div>
				</div>
			</div>
{% endblock %}
</body>
</html>