<div class="section">
				<div class="section-title">Sponsors and partners</div>
				<div class="section-content">
					<ul class="nice-list">
						
                        <li>
                            <h3>Diamond sponsor:</h3>                        	
                            <div class="left">
                                <a href="http://www.oDesk.com">
                                	<img src="{{ MEDIA_URL }}sponsors/odesk.jpg" alt="oDesk" />
								</a>
							</div>
                            <div class="clearer">&nbsp;</div>
                        </li>		
             <li>
                            <h3>Gold sponsor:</h3>                         
                            <div class="left">
                                <a href="http://www.github.com">
                                  <img src="{{ MEDIA_URL }}sponsors/github.png" alt="oDesk" />
                </a>
              </div>
                            <div class="clearer">&nbsp;</div>
                        </li>  
 <li>
                            <h3>Silver sponsor:</h3>                            
                            <div class="left"><a href="http://42coffeecups.com">
                                <img src="{{ MEDIA_URL }}sponsors/42-logo.png" alt="42coffeecups" />
                            </a></div>
                            <div class="clearer">&nbsp;</div>
                        </li>                                                  				
						<li>
                            <h3>Bronze sponsor:</h3>							
							<div class="left"><a href="http://www.python.org/psf/">
								<img src="{{ MEDIA_URL }}sponsors/python.jpg" alt="Python Software Foundation" />
							</a></div>
							<div class="clearer">&nbsp;</div>
						</li>
                       <li>
                            <h3>Partner:</h3> 
                            <div class="left"><a href="http://www.dlink.ua/">
                                <img src="{{ MEDIA_URL }}sponsors/dlinklogo.gif" alt="Programa.pl" />
                            </a></div>
                            <div class="clearer">&nbsp;</div>
                        </li>
                        <li>
                            <h3>Partner:</h3> 
                            <div class="left"><a href="http://www.programa.pl/">
                                <img src="{{ MEDIA_URL }}sponsors/programapl.png" alt="Programa.pl" />
                            </a></div>
                            <div class="clearer">&nbsp;</div>
                        </li>
                        <li>
                            <h3>Partner:</h3> 
                            <div class="left"><a href="http://similaria.pl">
                                <img src="{{ MEDIA_URL }}sponsors/similariapl.png" alt="Similaria.pl" />
                            </a></div>
                            <div class="clearer">&nbsp;</div>
                        </li> 											
						<li>
                            <h3>Information partner:</h3>                            
                            <div class="left"><a href="http://developers.org.ua">
                                <img src="{{ MEDIA_URL }}sponsors/developers.png" alt="Developers.org.ua" />
                            </a></div>
                            <div class="clearer">&nbsp;</div>
                        </li>   
                        <li>
                            <h3>Information partner:</h3>                            
                            <div class="left"><a href="http://rubylang.org.ua/">
                                <img src="{{ MEDIA_URL }}sponsors/rubylang.png" alt="RubyConfUa" />
                            </a></div>
                            <div class="clearer">&nbsp;</div>
                        </li> 
												 <li>
                            <h3>Information partner:</h3>                            
                            <div class="left"><a href="http://python.su/forum/">
                                <img src="{{ MEDIA_URL }}sponsors/pythonsu.png" alt="Python.su" />
                            </a></div>
                            <div class="clearer">&nbsp;</div>
                        </li>
												 <li>
                            <h3>Information partner:</h3>                            
                            <div class="left"><a href="http://app-engine.tumblr.com/">
                                <img src="{{ MEDIA_URL }}sponsors/appengine.gif" alt="Songs about App Engine" />
                            </a></div>
                            <div class="clearer">&nbsp;</div>
                        </li>
												
						                      												
					</ul>
				</div>
			</div>
